.shellyCanvas
{
	padding: 10px 10px 200px 10px;
	background-color: #f5f5f5;
}
.mdl-layout__content:has( .shellyCanvas )
{
	background-color: red;
}
.shellyCanvas .unavailable 
{
	color: gray;
}
.shellyCanvas .hide *
{
	visibility: hidden;
}
.shellyCanvas .head
{
	width: 500px;
	height: 120px;
	background: url(../img/shelly.png) no-repeat;
    background-size: 70%;
}
.shellyCanvas .list
{
	empty-cells: show;
	border-collapse: collapse;
	border: 1px solid gray
}

.shellyCanvas .list tr
{
	border: 1px solid gray
}

.shellyCanvas .list td
{
	padding: 2px 10px;
}

.shellyCanvas .list th
{
	text-align: left;
}

.shellyCanvas .list tr:nth-child(even) 
{
	background-color: #f0f0f5;
}